html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(src='http://code.jquery.com/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
  .container
    h1 Example Battleship API
    //
        h4 Place Ships API (/deployships/:board_id)
        a(href="/deployships/brd001") Place Ships board id "brd001"
        br
        br    
    h4 Place Single Ship API (/deploy/:board_id/:shiptype/:land_index/:position_start)
    a(href="/deployship/brd001/battleship/0/0@1") Place board id "brd001", battleship, horizontal @ position 0, 1
    br
    a(href="/deployship/brd001/cruiser/brd001/2@2")    Place board id "brd001", cruiser, vertical @ position 2, 2
    br
    a(href="/deployship/brd001/destroyer/brd001/5@9")  Place board id "brd001", destroyer, vertical @ position 5, 9
    br
    a(href="/deployship/brd001/submarine/0/8@0")  Place board id "brd001", submarine, horizontal @ position 8, 0
    br
    br
    //
        h4 Auto Attack API
        a(href="/attackships/brd001") Automatic attack board id "brd001"
        br
        br
    h4 Single Attack API (/attackship/:board_id/:position)
    a(href="/attackship/brd001/0@1") Specific attack board id "brd001", @ position 0, 1
    br
    br
    h4 Reset Board API (/resetships/:board_id)
    a(href="/resetships/brd001") Reset the board id "brd001"
    br
    br
    h4 Get Board API (/board/:board_id)
    a(href="/board/brd001") Show current board id "brd001"





    h1 Deploy Ships Pattern
    a(href="/deployship/brd001/battleship/0/0@0")  Place board id "brd001", battleship, horizontal @ position 0, 0
    br
    a(href="/deployship/brd001/cruiser/0/0@2")  Place board id "brd001", cruiser, horizontal @ position 0, 2
    br
    a(href="/deployship/brd001/cruiser/0/0@4")  Place board id "brd001", cruiser, horizontal @ position 0, 4
    br
    a(href="/deployship/brd001/destroyer/0/0@6")  Place board id "brd001", destroyer, horizontal @ position 0, 6
    br
    a(href="/deployship/brd001/destroyer/0/0@8")  Place board id "brd001", destroyer, horizontal @ position 0, 8
    br
    a(href="/deployship/brd001/destroyer/0/5@0")  Place board id "brd001", destroyer, horizontal @ position 5, 0
    br
    a(href="/deployship/brd001/submarine/0/5@2")  Place board id "brd001", submarine, horizontal @ position 5, 2
    br
    a(href="/deployship/brd001/submarine/0/5@4")  Place board id "brd001", submarine, horizontal @ position 5, 4
    br
    a(href="/deployship/brd001/submarine/0/5@6")  Place board id "brd001", submarine, horizontal @ position 5, 6
    br
    a(href="/deployship/brd001/submarine/0/5@8")  Place board id "brd001", submarine, horizontal @ position 5, 8
    br
    br
    h1 Attack Ships Pattern
    h4 Attack Battleship
    a(href="/attackship/brd001/0@0")  Specific attack battleship, @ position 0, 0
    br
    a(href="/attackship/brd001/1@0")  Specific attack battleship, @ position 1, 0
    br
    a(href="/attackship/brd001/2@0")  Specific attack battleship, @ position 2, 0
    br
    a(href="/attackship/brd001/3@0")  Specific attack battleship, @ position 3, 0
    br
    br
    h4 Attack Cruiser
    a(href="/attackship/brd001/0@2")  Specific attack cruiser, @ position 0, 2
    br
    a(href="/attackship/brd001/1@2")  Specific attack cruiser, @ position 1, 2
    br
    a(href="/attackship/brd001/2@2")  Specific attack cruiser, @ position 2, 2
    br
    a(href="/attackship/brd001/0@4")  Specific attack cruiser, @ position 0, 4
    br
    a(href="/attackship/brd001/1@4")  Specific attack cruiser, @ position 1, 4
    br
    a(href="/attackship/brd001/2@4")  Specific attack cruiser, @ position 2, 4
    br
    h4 Attack Destroyer
    a(href="/attackship/brd001/0@6")  Specific attack destroyer, @ position 0, 6
    br
    a(href="/attackship/brd001/1@6")  Specific attack destroyer, @ position 1, 6
    br
    a(href="/attackship/brd001/0@8")  Specific attack destroyer, @ position 0, 6
    br
    a(href="/attackship/brd001/1@8")  Specific attack destroyer, @ position 1, 8
    br
    a(href="/attackship/brd001/5@0")  Specific attack destroyer, @ position 5, 0
    br
    a(href="/attackship/brd001/6@0")  Specific attack destroyer, @ position 6, 0
    br
    h4 Attack Submarine
    a(href="/attackship/brd001/5@2")  Specific attack submarine, @ position 5, 2
    br
    a(href="/attackship/brd001/5@4")  Specific attack submarine, @ position 5, 4
    br
    a(href="/attackship/brd001/5@6")  Specific attack submarine, @ position 5, 6
    br
    a(href="/attackship/brd001/5@8")  Specific attack submarine, @ position 5, 8
    br